body
{
font-family: Georgia,Times,"Times New Roman",serif;
}
code,pre,.nav ul
{
font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}
h1,h2,h3,h4,dt
{
font-family: Verdana,Geneva,sans-serif;
}



*
{
margin:0;
border:0;
padding:0;
border-collapse:collapse;
border-spacing:0;
font-weight:inherit;
font-size:inherit;
font-style:inherit;
font-family:inherit;
text-decoration:inherit;
text-align:inherit;
color:inherit;
}
*:focus
{
outline:0;
}
html,body
{
width:100%;
position:relative;
text-align:left;
}
html
{
font-size:18px;
line-height:1.5em;
font-weight:normal;
font-style:normal;
background-color:#fff;
}
body
{
margin:0 auto;
}
body>div
{
position:relative;
height:auto;
border-style:solid;
border-color:transparent;
border-width:2em 2em 1px 2em;
border-bottom:1px dotted #ddd;
padding-bottom:2em;
page-break-after:always;
background-color:white;
}
#header p
{
text-align:center;
}
h1,h2,h3,h4
{
font-weight:bold;
text-align:center;
margin:0 auto;
margin-bottom:.5em;
clear:both;
}
h1
{
font-size:3em;
line-height:1em;
}
h2
{
position:relative;
z-index:100;
text-decoration:underline;
}
h2 span
{
display:block;
}
h3
{
margin:1em 0;
}
h6
{
width:100%;
text-align:left;
font-size:0.8em;
font-style:italic;
color:#999;
}
h6 span
{
font-style:normal;
display:block;
width:2em;
float:right;
text-align:right;
}



table
{
width:100%;
}
th
{
font-weight:bold;
}
td,th
{
vertical-align:top;
}


p,li,dt,
pre,.aside
{
margin-top:.8em;
margin-bottom:.8em;
}
p,ul,dl,ol
{
text-align:justify;
}
ol,ul,dl
{
list-style-position:inside;
}
dt
{
font-weight:bold;
margin-bottom:0;
}
.ol>dt
{
display:list-item;
list-style-type:decimal;
list-style-position:inside;
}

body>div>p
{
text-indent:1em;
}
pre,.aside,blockquote
{
display:block;
padding:0 1em;
line-height:1.2em;
}

.aside,.example
{
padding:.5em 1em;
border-radius:2em;
clear:both;
}
.example
{
border:1px dashed black;
}
.aside
{
border:3px solid #ddd;
border-width:0 3px;
text-align:center;
font-size:0.7em;
}
pre
{
white-space:pre-wrap;
}
blockquote
{
text-align:justify;
}
dfn
{
font-weight:bold;
border-bottom:1px dashed #ccc;
}
code
{
font-style:normal;
padding-left:.5em;
padding-right:.5em;
border-bottom:1px dashed #ccc;
word-break:break-all;
}
pre code,
code dfn
{
border:0;
padding:0;
}
em,
.aside,
q,
blockquote,
i
{
font-style:italic;
}
em em,
.aside em,
q em,
q q,
blockquote em
{
font-style:normal;
}
i
{
border-bottom:1px solid #ccc;
}
q:before,
blockquote:before
{
content:"\201c";
}
q:after,
blockquote:after
{
content:"\201d";
}
q q:before
{
content:"\2018";
}
q q:after
{
content:"\2019";
}
strong
{
font-weight:bold;
}



form,button
{
border-radius:2px;
overflow:hidden;
}
input,textarea,button
{
display:block;
line-height:1.6em;
padding:0 .5em;
margin-bottom:2px;
width:100%;
resize:none;
background-color:#eee;
}
textarea
{
height:3.2em;
}
input[type=checkbox],
input[type=radio],
input[type=file]
{
width:1px;
height:1px;
overflow:hidden;
position:absolute;
top:0px;
left:0px;
opacity:0.01;
}
*[type=submit],
*[type=button]
{
cursor:pointer;
}
*[type=submit]:not(:disabled):hover,
*[type=button]:not(:disabled):hover
{
background-color:#666;
color:#fff;
}
*:disabled
{
color:#ccc;
cursor:default;	
}
.result
{
color:blue;	
}


#contents th
{
padding-top:1em;
}
#contents a
{
display:block;
text-decoration:none;
}
#contents tr:hover,
#contents tr.head
{
background-color:#eee;
}



.nav li
{
list-style-type:none;
margin:0;
}
.nav ul
{
padding-left:.2em;
border-left:3px solid #eee;
border-bottom:1px solid #eee;
margin-bottom:5px;
}
.nav ul ul
{
margin-left:1em;
}



.fillin li
{
margin:1em auto;
font-weight:bold;
border-bottom:1px solid black;
}
.fillin li:before
{
content:"\2026";
}
.fillin li:after
{
content:":";
}
.fillin code
{
font-size:0.8em;
float:right;
border:0;
}



.match
{
font-size:0.8em;
text-align:left;
margin:0;
padding:0;
}
.match ol
{
max-width:60%;
display:inline-block;
vertical-align:top;
}
.match ol+ol
{
list-style-type:none;
float:right;
text-align:center;
}
.match li
{
width:100%;
position:relative;
margin:.5em auto;
list-style-type:none;
line-height:1em;
padding:.2em .5em;
border-radius:1em;
border:1px dashed #ccc;
border-width:0 1px 1px 0;
text-align:left;
list-style-type:decimal;
}
.match ol+ol li
{
list-style-type:none;
}



.blanks
{
width:100%;
font-size:inherit;
font-size:0.8em;
line-height:inherit;
border:0;
margin:0;
padding:0;
}
.blanks span
{
display:inline-block;
width:3em;
height:1em;
overflow:visible;
border-bottom:1px dotted black;
position:relative;
margin:0 1.2em;
}
.blanks span:before
{
position:absolute;
left:-1em;
}
.blanks span:after
{
position:absolute;
right:-1em;
}
.blanks .open:before
{
content:"<";
}
.blanks .closed:before
{
content:"</";
}
.blanks .open:after,
.blanks .closed:after
{
content:">";
}
.blanks .amp:before
{
content:"&";
}
.blanks .amp:after
{
content:";";
}



@media print
{
    body>div
    {
	border:0;
	padding:0;
	margin:0;
	height:100%;
    }
    .noprint
    {
    display:none;
    }
}

@media only screen and (min-width:801px)
{
	html
	{
	font-size:1.3vw;
	}
    body>div
    {
	height:77.5vw;
	width:50vw;
	overflow:scroll;
    float:left;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    }
    h2 span
    {
    display:inline;
    }
    h6
    {
    position:absolute;
    top:auto;
    bottom:0;
    text-align:center;
    }
    h6 span
    {
    position:absolute;
    bottom:0;
    right:0;
    }
    body>div:nth-of-type(odd) h6 span
    {
    left:0;
    right:auto;
    text-align:left;
    }
}